<ul class="menu {{css}}" data-magellan data-bar-offset="35">
    {{#unlesspage 'index'}}
    <li><a href="{{root}}index.html">Home</a></li>
    <li><a href="{{root}}index.html#ministries">Ministries</a></li>
    <li><a href="{{root}}index.html#events">Events</a></li>
    <li><a href="{{root}}index.html#about">About</a></li>
    {{/unlesspage}}
    {{#ifpage 'index'}}
    <li><a href="#home">Home</a></li>
    <li><a href="#ministries">Ministries</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#about">About</a></li>
    {{/ifpage}}
</ul>